---
apiVersion: v1
kind: Secret
metadata:
  name: ads-db-secret
  labels:
    component: ads
    module: db
type: Opaque
data:
  postgres_password_value: UFZ1RksyWU1HYzBu
# decoded PVuFK2YMGc0n
  initdb.sql:  LS0gVGhpcyBpcyBhIHBvc3RncmVzIGluaXRpYWxpemF0aW9uIHNjcmlwdCBmb3IgdGhlIHBvc3RncmVzIGNvbnRhaW5lci4gCi0tIFdpbGwgYmUgZXhlY3V0ZWQgZHVyaW5nIGNvbnRhaW5lciBpbml0aWFsaXphdGlvbiAoJD4gcHNxbCBwb3N0Z3JlcyAtZiBpbml0ZGIuc3FsKQpDUkVBVEUgUk9MRSBhZHN1c2VyIFdJVEggTE9HSU4gUEFTU1dPUkQgJ2luaXRpYWwnIElOSEVSSVQgQ1JFQVRFREI7CkNSRUFURSBEQVRBQkFTRSBhZHMgV0lUSCBFTkNPRElORyAnVU5JQ09ERScgTENfQ09MTEFURSAnQycgTENfQ1RZUEUgJ0MnIFRFTVBMQVRFIHRlbXBsYXRlMDsKR1JBTlQgQUxMIFBSSVZJTEVHRVMgT04gREFUQUJBU0UgYWRzIFRPIGFkc3VzZXI7CkNSRUFURSBTQ0hFTUEgYWRzIEFVVEhPUklaQVRJT04gYWRzdXNlcjsKLS0gQUxURVIgREFUQUJBU0UgYWRzIFNFVCBzZWFyY2hfcGF0aCBUTyAnYWRzJzsKQUxURVIgREFUQUJBU0UgYWRzIE9XTkVSIFRPIGFkc3VzZXI7Cg==
# decoded:
# -- This is a postgres initialization script for the postgres container. 
# -- Will be executed during container initialization ($> psql postgres -f initdb.sql)
# CREATE ROLE adsuser WITH LOGIN PASSWORD 'initial' INHERIT CREATEDB;
# CREATE DATABASE ads WITH ENCODING 'UNICODE' LC_COLLATE 'C' LC_CTYPE 'C' TEMPLATE template0;
# GRANT ALL PRIVILEGES ON DATABASE ads TO adsuser;
# CREATE SCHEMA ads AUTHORIZATION adsuser;
# -- ALTER DATABASE ads SET search_path TO 'ads';
# ALTER DATABASE ads OWNER TO adsuser;

